@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-board-light: #FFFFFF;
  --color-board-dark: #000000;
  --color-piece-white: #FFFFFF;
  --color-piece-black: #000000;
  --color-accent: #3498db;
  --color-background: #f0f0f0;
  --color-outline: #3b82f6;
  --color-label-light: #000000;
  --color-label-dark: #FFFFFF;
  --color-legal-move: rgba(0, 0, 0, 0.2);
  --color-capture-border-light: rgba(0, 0, 0, 0.2);
  --color-capture-border-dark: rgba(255, 255, 255, 0.2);
}


